animation
awscli
bcolz
bokeh
bs4 
cartopy
click 
cntk-gpu 
contextily
coverage
Cython 
fake_useragent
fastai
flask
folium
gensim
geopandas
geoplot
graphviz
gunicorn
h5py 
imutils 
ipyleaflet
ipython 
jupyter 
jupyterlab
jupytext
kaggle
kaggle-cli
keras 
mahotas 
mapclassify
matplotlib 
mwparserfromhell
ndg-httpsclient 
nltk 
nose 
notebook
numpy 
pandas 
path.py 
Pillow 
plotly
pyasn1 
pygments 
pymc3
pyopenssl 
pytest
python-sql
quandl
rasterio
rasterstats
rtree
scikit-image 
scikit-learn 
scipy
seaborn 
six 
spacy
spacy[cuda92]
sphinx 
sympy 
tensorflow-gpu
torch
torchvision
urllib3
wheel 
wordcloud 
zmq
